@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
    --main1: #7c203a;
    --list1: #f859593f;
    --text1: #ff9f68;

    --main2: #574b90;
    --list2: #303a529f;
    --text2: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main2);
    color: var(--text2);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; 
    margin: auto;
}

h1 {
    margin-top: 1em;
    margin-bottom: .3em;
    font-size: 3.2rem;
    font-weight: bold;
}

input[type=text] {
    color: rgb(128, 128, 128);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: .5em;
    padding: 1em;
    width: 400px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: left;
    padding: 1em;
    border: none solid var(--list2);
    border-radius: .3em;
    background-color: var(--list2);;
    margin-bottom: .3em;
    width: 400px;
    height: 55px;
    box-sizing: border-box;

    /* font awesome */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: .5em;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    main {
        width: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    label {
        font-size: 1.1rem;
    }

    form {
         width: 210px;
    }

    ul {
        width: 210px;
    }

    li {
        width: 100%;
        box-sizing: border-box;
    }
    
    input[type=text] {
        width: 100%;
    }
}

@media (max-width: 440px) {
    main {
        width: 100%px;
    }

    h1 {
        font-size: 2rem;
    }

    label {
        font-size: 1.1rem;
    }

    form {
         width: 250px;
    }

    ul {
        width: 250px;
    }

    li {
        width: 100%;
        box-sizing: border-box;
    }
    
    input[type=text] {
        width: 100%;
    }
}